.btn-goto-homepage {
  border-radius: 0 !important;
  border: 1.5px solid #0c9265;
  color: #0c9265;
  padding: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;

  &:hover {
    background: #0c9265;
    color: white;
  }
}

.btn-download {
  border-radius: 0 !important;
  border: 1.5px solid #0c9265;
  color: #0c9265;
  padding: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;

  &:hover {
    background: #0c9265;
    color: white;
  }
}

.btn-print {
  border-radius: 0 !important;
  border: 1.5px solid blue;
  color: blue;
  padding: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;

  &:hover {
    background: blue;
    color: white;
  }
}