services:
  mysql-container:
    container_name: mysql-container
    image: mysql:8.2.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    networks:
      - dalathasfarm-network

  phpmyadmin-container:
    container_name: phpmyadmin-container
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql-container
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_HOST: mysql-container
      PMA_PORT: 3306
      # auto login
      # PMA_USER: root
      # PMA_PASSWORD: root
      UPLOAD_LIMIT: 500M
    networks:
      - dalathasfarm-network

  backend-container:
    container_name: backend-container
    build:
      context: /backend/dalathasfarm
      dockerfile: Dockerfile
    ports:
      - "8099:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-container:3306/dalathasfarm
      MYSQL_ROOT_PASSWORD: root
      # VNPAY_RETURN_URI: https://vps.luxuryshop.x10.mx/payments/payment-callback
    depends_on:
      - mysql-container
    networks:
      - dalathasfarm-network
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/api/v1/actuator/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s # 20s after container created, health check

  # dalathasfarm-angular-container:
  #   container_name: dalathasfarm-angular-container
  #   build:
  #     context: ../ShopApp_Frontend
  #     dockerfile: Dockerfile
  #   ports:
  #    - "4200:80"
  #   restart: unless-stopped
  #   networks:
  #    - dalathasfarm-network
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:80/"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
      
networks:
  dalathasfarm-network:
    name: dalathasfarm-network
    driver: bridge

volumes:
  mysql_data: