<app-header></app-header>

<!-- PRODUCT SECTION -->
<div id="product-section" class="featured-products-section py-5 bg-white">
  <div class="container">
    <div class="occasion-block mb-5">
      <!-- <div class="d-flex align-items-center justify-content-center mb-4">
        <h2 class="mb-0 fw-light fs-2 text-dark text-center" style="font-family: 'Playfair Display', serif;">
          {{ category.name }}
        </h2>
      </div> -->
      <!-- Danh sách sản phẩm theo category -->
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 g-lg-5">
        @for (product of products; track product.id) {
        <div class="col">
          <div class="product-minimal" (click)="onProductClick(product.id)">

            <img [src]="product.thumbnailUrl" [alt]="product.name" class="product-img img-fluid rounded-2 mb-2">

            <h3 class="product-name fs-6 fw-medium text-dark mb-1" style="font-family: 'Playfair Display', serif;">{{
              product.name }}</h3>
            <p class="product-subtitle text-muted small mb-2" style="font-size: 12px;font-style: italic;">
              {{ product.description || 'The design darling' }}
            </p>
            <p class="product-price mb-1">{{ product.price | currency: 'VND':'symbol':'1.0-0'}}</p>
            <div class="product-actions d-flex gap-1 mt-2">
              @if(product.stockQuantity>0){
              <button class=" btn-sm btn-outline-light-product flex-fill"
                (click)="$event.stopPropagation(); addToCart($event, product.id, product.stockQuantity, product.name)">
                Thêm vào giỏ
              </button>
            } @else {
              <button class="btn btn-sm btn-danger flex-fill fw-medium" disabled>
                <i class="fas fa-ban me-1"></i> Hết hàng
              </button>
            }
              <!-- <button class="btn btn-sm btn-primary flex-fill"
              (click)="$event.stopPropagation(); buyNow($event, product.id)">
              Mua
            </button> -->
            </div>
          </div>
        </div>
        } @empty {
        <div class="col-12 text-center py-4 text-muted">
          <p>Chưa có sản phẩm cho danh mục này</p>
        </div>
        }
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>