<app-header></app-header>
<div class="introduce-page">
    <section class="welcome">
        <h1>Liên hệ với chúng tôi</h1>
        <p>Nếu bạn cần hỗ trợ, hay giải đáp thắc mắc hãy liên hệ với chúng tôi</p>
    </section>

    <!-- Ho tro khach hang -->
    <div class="divider decorated"></div>
    <section class="info-section">
        <div class="image">
            <img [src]="viewUrl" alt="Who we are">
        </div>
        <div class="text">
            <h2>Hỗ trợ khách hàng</h2>
            <p>Gửi email tới Bộ phận Dịch vụ Khách hàng của Dalat Hasfarm (hotro@dalathasfarm.com) hoặc gọi tới số
                0999.000.999. Thời gian phục vụ là 8h30-22h/Tất cả các ngày trong tuần.</p>
            <ul>
                <li>
                    <div>
                        <h5>Hotline</h5>
                        <b>1800 1143</b>
                    </div>
                </li>
                <br>
                <li>
                    <div>
                        <h5>Email</h5>
                        <b>cskh@tiemhoa.net</b>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<app-footer></app-footer>