.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f8f9fa; 
  }
  
  .login-form {
    width: 400px; 
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .login-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
  }
  
  .login-form .btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-form .text-center {
    margin-top: 10px;
  }
  
  .login-form .text-danger {
    font-size: 14px; 
    color: red;
  }
  
  .error-message-wrapper {
    margin-bottom: 15px; 
  }
  
  .divider-nonspace {
  height: 10px; /* Giữ nguyên khoảng cách giữa input và lỗi */
}

.error-message-wrapper {
  margin-bottom: 10px;
}


.form-group .form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding: 0.5rem 0;
  transition: border-color 0.3s;
}

.form-group .form-control:focus {
  border-color: #5c4ac7;
  box-shadow: none;
}

.invalid-feedback {
  font-size: 0.75rem;
  display: block !important; /* Đảm bảo hiển thị lỗi */
}

.btn-next {
  border-radius: 0 !important;
  background: #0c9265;
  color: white;
  border: none;
  padding: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;

  &:hover {
    background: white;
    border: 1px solid #0c9265;
    color: #0c9265;
  }
}